@media (max-width: 800px) {
    .mainResponse{
         overflow-x: overlay;
    }
    .selectConfirm{
        margin-top: -250px;
    }
    .datePick{
        margin-top: -80px;
        margin-left: -200px;
    }
    .btn{
        margin-top: 20px;
        margin-left: -368px;
    }
    .docFiles{
        margin-top: 120px;
        margin-left: -350px;
       
    }
    .myHigh{
        margin-top: 200px;
        margin-left: -400px;
        width: 300px;
    }
}