

@media (max-width: 800px) {
    .exge{
        margin-top: -220px;
    }
    .topbox{
        margin-top: -120px;
        margin-left: -270px;
    }
    .date{
        margin-top: -10px;
        margin-left: -380px;
    }
    .show{
        margin-top: 100px;
        margin-left: -160px;
    }
    .file{
        margin-top: 230px;
        margin-left: -140px;
    }

}